{% extends "base_layout.html" %}
{% block content %}

<div class="container-login">
    <div class="header">
        <h2>Welcome To Bug Tracker</h2>
    </div>
    <div class="about-page-content">
        <h1>&lt Bug Tracker &gt</h1>
        <h2>A ticketing system built for software development</h2>

        <div class="about-page-feature">
            <h2>Clean and Simply User Dashboard</h2>
            image
        </div>
        <div class="about-page-feature">
            <h2>Create Projects</h2>
            image
        </div>
    </div>
</div>

{% endblock %}