{% extends "base_layout.html" %}
{% block content %}
    <script>
        $(document).ready(function(){
            $("#mobile-nav-btn").click(function() {
                $("#mobile-nav").toggle();
            })
        })
    </script>
    <div class="container">
        {% include "header.html" %}
        <div class="sub-header box-shadow">
            <h2>{{ ticket.title }} <span style="color: rgb(255, 136, 0);">[  EDIT  ]</span></h2>
        </div>
        <div class="edit-ticket">
            <form action="/tickets/{{ ticket.id }}/edit/success" method="post">
                {% csrf_token %}
                <label for="title">Title: </label>
                <input type="text" name="title" value="{{ ticket.title }}">
                <label for="priority">Priority</label>
                <select name="priority">
                    <option value="{{ ticket.priority }}">{{ ticket.get_priority_display }}</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>
                <label for="description">Description</label>
                <textarea name="description" cols="30" rows="10">{{ ticket.description }}</textarea>
                <label for="name">Assigned To: </label>
                <select name="user" required>
                    {% if ticket.user == none %}
                        <option value="{{ none }}"></option>
                    {% else %}
                        <option value="{{ ticket.user.id }}">{{ ticket.user.first_name }} {{ ticket.user.last_name }}</option>
                    {% endif %}
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Submit</button>
            </form>
            <p>Created at: {{ ticket.created_at }}</p>
            <p>Updated at: {{ ticket.updated_at }}</p>

        </div>
        <form action="/projects/{{ ticket.project.id }}">
            <button type="submit" class="ticket-button">Back to Project: {{ ticket.project.title }}</button>
        </form>
    </div>    
{% endblock %}