<div class="container">
    <div class="header">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/tickets">Tickets</a>
        {% if request.session.role == 3 %}
        <a href="/admin">Admin</a>
        {% endif %}
        <a href="/logout">Logout</a>
        <button id="mobile-nav-btn">
            <i class="fas fa-bars fa-2x"></i>
        </button>
    </div>
<div id="mobile-nav">
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/tickets">Tickets</a>
    {% if request.session.role == 3 %}
    <a href="/admin">Admin</a>
    {% endif %}
    <a href="/logout">Logout</a>
</div>