{% extends "base_layout.html" %}
{% block content %}
    <script>
        $(document).ready(function(){
            $("#mobile-nav-btn").click(function() {
                $("#mobile-nav").toggle();
            })
        })
    </script>
    <div class="container">

        {% include "header.html" %}
        
        <div class="main dash">
            <div id="dash-header" class="box-shadow">
                <h2>Welcome {{ request.session.user_first_name }}. Today is {{ weekday }} {{ today }}</h2>
                <h3><a href="/user/{{ request.session.user_id }}">Edit User Profile</a></h3>
            </div>
            <div class="dashboard">
                <div class="dash-tickets box-shadow" id="dash-ticket-totals">
                    <div id="tickets-totals">
                        <h2>Total Tickets</h2>
                        <p>Open Tickets: {{ total_tickets_open }}</p>
                        <p>Closed Tickets: {{ total_tickets_closed }}</p>
                    </div>
                    <div id="tickets-user">
                        <h2>My Tickets</h2>
                        <p>My Open Tickets: {{ user_tickets_total }}</p>
                        <p>My Closed Tickets: {{ user_tickets_closed }}</p>
                    </div>
                </div>
                <div class="dash-tickets box-shadow">
                    <h2>My Tickets</h2>
                    <canvas id="ticket-chart"  width="250" height="250" aria-label="Tickets" role="img"></canvas>
                </div>
                <div class="dash-tickets box-shadow">
                    <h2>My Tickets by Project</h2>
                    <canvas id="tickets-by-projects"  width="270" height="270" aria-label="Tickets" role="img"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script>
        const dataPie = {
            labels: [
                'High',
                'Medium',
                'Low'
            ],
            datasets: [{
                label: 'My Tickets',
                data: ["{{ high }}", "{{ medium }}", "{{ low }}"],
                backgroundColor: [
                'rgb(255, 65, 65)',
                'orange',
                'rgb(106, 190, 49)'
                ],
                hoverOffset: 4
            }]
        };
        const config = {
            type: 'pie',
            data: dataPie,
        };
        const myPieChart = new Chart(
            document.getElementById('ticket-chart'),
            config
        );

        
        
        var data_tickets = [{% for project_ticket in project_tickets %} {{ project_ticket.num_tickets }}, {% endfor %}]
        const labels = [{% for project_ticket in project_tickets %} '{{ project_ticket.project__title }}', {% endfor %}];
        const data = {
            labels: labels,
            datasets: [{
                label: "My Tickets",
                data: data_tickets,
                backgroundColor: [
                    'rgb(255, 65, 65)',
                    'orange',
                    'rgb(106, 190, 49)'
                ],
            }]

        }
        
        const configNew = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };
        const myChart = new Chart(
            document.getElementById('tickets-by-projects'),
            configNew
        );

    </script>
{% endblock %}