{% extends "base_layout.html" %}
{% block content %}
    <div class="container-login">
        <div class="header">
            <h2>Welcome To Bug Tracker</h2>
        </div>
        <div class="main login-reg" id="register">
            <div class="login">
                <div class="login-header">
                    <h1>Register</h1>
                    <p>Already have an account? <a href="/login">Login!</a></p>
                </div>
                <form action="/login/register" method="post">
                    {% csrf_token %}
                    <div id="user-reg-inputs">
                        <div id="user-info">
                            <h2>User Information</h2>
                            <div class="username-password">
                                <input type="text" name="first_name" placeholder="first name">
                                <input type="text" name="last_name" placeholder="last name">
                                <input type="email" name="email" placeholder="user@email.com">
                            </div>
                            <div class="username-password">
                                <input type="password" name="password" placeholder="password">
                                <input type="password" name="password_confirm" placeholder="confirm password">
                            </div>
                        </div>
                        <div id="company-info">
                            <div>
                                <h2>Company<a id="company-about-link" href="#about">What is this?</a></h2>
                            </div>
                            <input type="text" name="old_company_name" placeholder="company name">
                            <input type="text" name="company_code" placeholder="company code">
                            <p id="company-or">OR</p>
                            <p>Create New Company?</p>
                            <input type="text" name="company_name" placeholder="company name">
                            <input type="text" name="new_company_code" placeholder="company code">
                        </div>
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        {% if messages %}
        <div class="errors">
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div id="about">
            <div id="company-code" class="about-section">
                <h1>Company Code</h1>
                <p>
                    The company code is a 6 digit code generated when a new company is registered on Bug Tracker. Simply input this code
                    when registering your account to get started with your company.
                    <br>
                    To find the company code go to your user profile where you can also change company codes.
                </p>
            </div>
            <div id="register-new-company" class="about-section">
                <h1>Register a New Company</h1>
                <p>
                    Register a new company to create a blank canvas for your all of your bug tracking needs. The user registering the
                    company will be assigned the role of admin.
                </p>
            </div>
            <div id="demo-project" class="about-section">
                <h1>Demo Project</h1>
                <p>By default, all accounts are registered to the demo company. If no company code is given and a new company is not
                    registered, the demo company page will be loaded upon login. Change to or from the demo page in the user profile page.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
