<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/tickets">Tickets</a>
            {% if request.session.role == 3 %}
            <a href="/admin">Admin</a>
            {% endif %}
            <a href="/logout">Logout</a>
        </div>
        <div class="sub-header">
            <h2>My Tickets</h2>
        </div>
        <div class="dashboard">
            <div class="projects">
                <h2>Active Tickets</h2>
                <div class="table-scroll">
                    <table class="project-tickets-table" id="project-active-tickets">
                        <tr>
                            <th>Title</th>
                            <th>Ticket ID</th>
                            <th>Priority</th>+
                            <th>Project</th>
                            <th>Assigned To</th>
                            <th>Created On</th>
                            <th>Updated On</th>
                            <th>Action</th>
                        </tr>
                        {% for ticket in tickets %}
                        {% if ticket.user.id == request.session.user_id %}
                        <tr id="ticketID{{ ticket.id }}">
                            <td>{{ ticket.title }}</td>
                            <td>{{ ticket.id }}</td>
                            <td><span class="dot" id="{{ ticket.get_priority_display }}"></span>{{ ticket.get_priority_display }}</td>
                            <td>{{ ticket.project.title }}</td>
                            {% if ticket.status == 1 %}
                            <td>Unassigned</td>
                            {% else %}
                            <td>{{ ticket.user.first_name }} {{ ticket.user.last_name }}</td>
                            {% endif %}
                            <td>{{ ticket.created_at }}</td>
                            <td>{{ ticket.updated_at }}</td>
                            <td><button class="ticket-view" id="view-ticket"><a href="/tickets/{{ ticket.id }}">View</a></button> <button class="ticket-view" id="edit-ticket"><a href="/tickets/{{ ticket.id }}/edit">Edit</a></button></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>