{% extends "base_layout.html" %}
{% block content %}
    <script>
        $(document).ready(function(){
            $("#mobile-nav-btn").click(function() {
                $("#mobile-nav").toggle();
            })
        })
    </script>
    <div class="container">

        {% include "header.html" %}

        <div class="sub-header box-shadow">
            <h2>{{ ticket.title }}</h2>
            <h2><a href="/projects/{{ ticket.project.id }}">View tickets from this project</a></h2>
        </div>
        <div class="tickets-comments">
            <div class="individual-ticket box-shadow">
                <h2><span class="ticket-header">Title: </span>{{ ticket.title }}</h2>
                <p><span class="ticket-header">ID: </span>{{ ticket.id }}</p>
                <p><span class="ticket-header">Priority: </span>{{ ticket.get_priority_display }}</p>
                <p><span class="ticket-header">Description: </span>{{ ticket.description }}</p>
                <p><span class="ticket-header">Assigned To: </span>
                    {% if ticket.user == None %}
                        Unassigned
                    {% else %}
                        {{ ticket.user.first_name }} {{ ticket.user.last_name }}
                    {% endif %}
                </p>
                <p><span class="ticket-header">Created At: </span> {{ ticket.created_at }}</p>
                <p><span class="ticket-header">Updated At: </span> {{ ticket.updated_at }}</p>
                {% if ticket.status == 2 %}
                {% if request.session.user_id == ticket.user.id %}
                <div id="ticket-submit-edit">
                    <form action="/tickets/{{ ticket.id }}/submit" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="ticket-status" value="3">
                        <button id="ticket-submit" type="submit">Submit for Review</button>
                    </form>
                    <form action="/tickets/{{ ticket.id }}/edit">
                        <button type="submit" id="ticket-edit">Edit</button>
                    </form>
                </div>
                {% endif %}
                {% endif %}
                {% if ticket.status == 3 %}
                <h3>Ticket is under review</h3>
                {% elif ticket.status == 4 %}
                <h3>Ticket is resolved</h3>
                {% endif %}
                {% if ticket.project.project_manager.id == request.session.user_id and ticket.status == 3%}
                <form action="/tickets/{{ ticket.id }}/resolve" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="ticket-status" value="4">
                    <button id="ticket-resolve" type="submit">Approve (Close Ticket)</button>
                </form>
                {% endif %}
                {% if request.session.user_id == ticket.project.project_manager.id %}
                <form action="/tickets/{{ ticket.id }}/delete">
                    {% csrf_token %}
                    <input type="hidden" value="{{ ticket.id }}" name="ticketid">
                    <button id="ticket-delete" type="submit">DELETE</button>
                </form>
                {% endif %}
            </div>
            <div id="ticket-comments-container">
                <div class="ticket-comments-display box-shadow">
                    <ul>
                        {% for comment in comments %}
                        <li>
                            <span class="comment-user">{{ comment.user.first_name }} {{ comment.user.last_name }}</span> <span class="comment-{{ comment.user.get_user_role_display }}">({{ comment.user.get_user_role_display }})</span><br>
                            <div class="comment-time-delete">
                                <span class="comment-time">{{ comment.created_at }}</span>
                                {% if comment.user.id == request.session.user_id or request.session.role in admin%}
                                <form action="/tickets/comments/{{ comment.id }}/delete" method="post">
                                    {% csrf_token %}
                                    <!-- <button type="submit" class="delete-comment">Delete</button> -->
                                    <button type="submit" id="deleteUser{{ user.id }}"class="delete-user"><i class="fas fa-times"></i></button>
                                </form>
                            {% endif %}
                            </div>
                            <span class="comment-text">{{ comment.comment }} </span>
                        {% endfor %}
                    </ul>
                </div>
                <form action="/tickets/comments/add" method="post">
                    {% csrf_token %}
                    <textarea class="box-shadow" name="comment" cols="30" rows="10" placeholder="Type a message..."></textarea>
                    <input type="hidden" name="ticket" value="{{ ticket.id }}">
                    <button class="open-form" type="submit">Comment</button>
                </form>
            </div>
        </div>
    </div>    
{% endblock %}