{% extends "base_layout.html" %}
{% block content %}
    <script>
        $(document).ready(function(){
            $("#mobile-nav-btn").click(function() {
                $("#mobile-nav").toggle();
            })
        })
    </script>
    <div class="container">

        {% include "header.html" %}

        <div class="sub-header box-shadow">
            <h2>My Tickets</h2>
        </div>
        <div class="table-scroll">
            <h2>Active Tickets</h2>
            <table class="project-tickets-table" id="project-active-tickets">
                <tr>
                    <th>Title</th>
                    <th class="desktop-table">Ticket ID</th>
                    <th class="desktop-table">Priority</th>
                    <th>Project</th>
                    <th>Assigned To</th>
                    <th class="desktop-table">Created On</th>
                    <th class="desktop-table">Updated On</th>
                    <th>Action</th>
                </tr>
                {% for ticket in tickets %}
                {% if ticket.user.id == request.session.user_id %}
                <tr id="ticketID{{ ticket.id }}">
                    <td>{{ ticket.title }}</td>
                    <td class="desktop-table">{{ ticket.id }}</td>
                    <td class="desktop-table"><span class="dot" id="{{ ticket.get_priority_display }}"></span>{{ ticket.get_priority_display }}</td>
                    <td>{{ ticket.project.title }}</td>
                    {% if ticket.status == 1 %}
                    <td>Unassigned</td>
                    {% else %}
                    <td>{{ ticket.user.first_name }} {{ ticket.user.last_name }}</td>
                    {% endif %}
                    <td class="desktop-table">{{ ticket.created_at }}</td>
                    <td class="desktop-table">{{ ticket.updated_at }}</td>
                    <td>
                        <form action="/tickets/{{ ticket.id }}">
                            <button class="ticket-view" id="view-ticket" type="submit">View</button>
                        </form>
                        <form action="/tickets/{{ ticket.id }}/edit">
                            <button class="ticket-view" id="edit-ticket" type="submit">Edit</button></td>
                        </form>
                        <!-- <button class="ticket-view" id="view-ticket"><a href="/tickets/{{ ticket.id }}">View</a></button> <button class="ticket-view" id="edit-ticket"><a href="/tickets/{{ ticket.id }}/edit">Edit</a></button> -->
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="table-scroll">
            <h2>Resolved Tickets</h2>
            <table class="project-tickets-table">
                <tr>
                    <th>Title</th>
                    <th class="desktop-table">Ticket ID</th>
                    <th class="desktop-table">Priority</th>
                    <th>Project</th>
                    <th>Assigned To</th>
                    <th class="desktop-table">Created On</th>
                    <th class="desktop-table">Updated On</th>
                    <th>Action</th>
                </tr>
                {% for ticket in tickets %}
                {% if ticket.status == 4 and ticket.user.id == request.session.user_id %}
                <tr id="ticketID{{ ticket.id }}">
                    <td>{{ ticket.title }}</td>
                    <td class="desktop-table">{{ ticket.id }}</td>
                    <td class="desktop-table"><span class="dot" id="{{ ticket.get_priority_display }}"></span>{{ ticket.get_priority_display }}</td>
                    <td>{{ ticket.project.title }}</td>
                    {% if ticket.status == 1 %}
                    <td>Unassigned</td>
                    {% else %}
                    <td>{{ ticket.user.first_name }} {{ ticket.user.last_name }}</td>
                    {% endif %}
                    <td class="desktop-table">{{ ticket.created_at }}</td>
                    <td class="desktop-table">{{ ticket.updated_at }}</td>
                    <td>
                        <!-- <button class="ticket-view" id="view-ticket"><a href="/tickets/{{ ticket.id }}">View</a></button> <button class="ticket-view" id="edit-ticket"><a href="/tickets/{{ ticket.id }}/edit">Edit</a></button> -->
                        <form action="/tickets/{{ ticket.id }}">
                            <button class="ticket-view" id="view-ticket" type="submit">View</button>
                        </form>
                        <form action="/tickets/{{ ticket.id }}/edit">
                            <button class="ticket-view" id="edit-ticket" type="submit">Edit</button></td>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}