{% extends "base_layout.html" %}
{% block content %}
    <script>
        $(document).ready(function(){
            $("#mobile-nav-btn").click(function() {
                $("#mobile-nav").toggle();
            })
        })
    </script>
   {% include "header.html" %}

    <div class="sub-header box-shadow">
        <h2>Edit User Profile</h2>
    </div>  
    <div id="edit-user-profile" class="individual-ticket box-shadow">
        <form action="/user/{{ request.session.user_id }}/edit" method="post">
            {% csrf_token %}
           
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" value="{{ request.session.user_first_name }}">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" value="{{ request.session.user_last_name }}">
            <label for="email">Email</label>
            <input type="email" name="email" value="{{ request.session.user_email }}">
            <button type="submit">Update</button>
        </form>
    </div>
{% endblock %}